body
  padding-top 80px

.navbar-inverse
  height 70px

.navbar-header a.navbar-brand
  margin-top -5px
  h6
    color #CCC

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  .form-group
    margin-top 10px
    margin-left 10px
  button
    margin-top 10px
    margin-left 10px

.toast-top-right
  top 80px
  right 150px

.toast-success
  background-color #13987e